.wrap {
  white-space: nowrap;
}

.stars {
  white-space: nowrap;
  display: inline-block;
}

.star {
  color: #FFC000;
  margin-right: 3px;
  font-size: 13px;
}

.count {
  font-size: 13px;
  color: #b2b2b2;
  display: inline-block;
  vertical-align: 1px;
}
