.sort, .breadcrumbs{
  margin-bottom: 20px;
}

.sort{
  margin-left: auto;
}

.mobileSort{
  width: 100%;
}

.mobileFacetsButton{
  width: 100%;
}

.paddingLeft{
  padding-left: 10px;
}
.paddingRight{
  padding-right: 10px;
}

.filters{
  padding-right: 10px;
}

.products{}

.productsWithPadding{
  padding-left: 10px;
}

.product {
  padding-right: 15px;
  &:nth-child(3){
    padding-right: 0;
  }
}
