.wrap{
  padding: 15px;
  display: block;
  background-color: transparent;
  transition: background-color .35s ease-in-out;
  text-decoration: none;
  &:hover{
    background-color: #f7f7f7;
  }
}

.image-wrap{
  position: relative;
}

.image{
  width: 100%;
}

.title{
  color: #404040;
  font-size: 14px;
  margin: 5px 0;
  word-wrap: break-word;
}

.description{
  text-transform: none;
  font-size: 12px;
  color: #b2b2b2;
  margin: 5px 0;
}

.rating{
  margin: 5px 0;
}

.price-wrap{
  margin: 5px 0;
  white-space: nowrap;
  line-height: inherit;
}

.price, .compare{
  font-size: 14px;
  color: #404040;
  display: inline-block;
}

 .compare{
  text-decoration: line-through;
  margin-left: 5px;
 }
