.wrap {
  width: 100%;
  border: 2px solid #ececec;
  font-size: 14px;
  position: relative;
  box-sizing: content-box;
  margin: 8px 0;
}

.input {
  color: #404040;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 5px 32px 5px 10px;
  position: relative;
  z-index: 2;
}

.icon {
  position: absolute;
  right: 10px;
  top: 0;
  width: 20px;
  line-height: 26px;
  text-align: center;
  color: #ececec;
}
