.wrap {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &-dark{
    background-color: #f7f7f7;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.content{
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.button {
  text-transform: none;
  background: #f7f7f7;
  color: #404040;
  border: 1px solid #ececec;
  font-size: 14px;
  padding: 15px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;

  &.flat {
    border: none;
    width: 100%;
    font-size: 16px;
    text-align: left;
    padding: 0;
    background-color: transparent;
  }
}

.icon {
  display: inline-block;
  font-size: .8em;

  &.pre {
    margin-right: 9px;
  }

  &.after {
    margin-left: 9px;
  }
}

.body{
  padding: 0 15px;
  margin-top: 8px;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ececec;
  cursor: pointer;

  &-content {
    text-align: left;
    flex: 1;
  }

  &-title {
    margin: 0;
    color: #404040;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
  }
}

.facet-title {
  background: #f7f7f7;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  &-name{
    margin: 0;
    font-weight: bold;
    flex: 1;
    font-size: 16px;
  }
}

.reset-button {
  color: #939393;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
