.findify-product-matches {
  &__title {
    margin-top: 15px;
    margin-bottom: 21px;
  }
  &__items {
    margin: 0 -8px;
    @include clearfix();
  }
  &__item {
    width: 50%;
    float: left;
    padding: 0 8px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 14px;
  }
  &__item-src {
    display: block;
    width: 100%;
    height: auto;
  }
  &__item-title {
    color: #404040;
    display: block;
    margin: 10px 0;
  }
  &__item-price {
    color: #404040;
    font-weight: 700;
  }
}
