.list {}

.item {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border: 2px solid #eee;
  display: inline-block;
  margin: 5px 5px 0 0;
  outline: none;
  cursor: pointer;
  transition: border-color .1s ease-in;
  text-align: center;
  position: relative;
}

.check-mark {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
}
