@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';

@import "normalize.css";

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.multiply-gradient{
  background: linear-gradient(125deg,red,yellow,green,blue,violet);
}
