.wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f7f7f7;
}


.form {
  padding: 10px;
  background-color: #ececec;
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
}

.form-left, .form-right {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.form-left {
  padding-right: 15px;
}

.form-right {
  width: 40px;
}

.highlighted-text {
  font-weight: 700;
}

.input {
  height: 40px;
  border-radius: 2px;
  border: 0;
  display: block;
  width: 100%;
  padding: 0 35px 0 10px;
  outline: none;
  background-color: white;
}

.submit {
  cursor: pointer;
  background-color: #404040;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  border-radius: 2px;
  color: #fff;
  text-align: center;
}

.suggestions {}

.suggestions-item {
  cursor: pointer;
  display: block;
  padding: 15px;
  color: #404040;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}

.clear {
  cursor: pointer;
  position: absolute;
  line-height: 40px;
  top: 0;
  right: 15px;
  padding: 0 10px;
  color: #b2b2b2;
}

